{% extends "layout.html" %}
{% block content %}
    <h1>Welcome to Rely!</h1>
    <header>What is Rely?</header><br>
    In a nutshell, Rely is a Flask web application that predicts stock prices.  It implements
    machine learning (ML) algorithms so as to provide the best possible prediction.  Currently, this
    app only offers 4 ML algorithms, forecasts up to 5 days, and offers a very limited selection
    of stocks.  Please explore the website and determine which algorithm you prefer the best.  Future
    updates are coming to the app. Enjoy!
{% endblock content %}
