{% extends "layout.html" %}
{% block content %}
  <div class="content-section">
    <form method="POST" action="">
      <fieldset class="form-group">
        <legend class="border-bottom mb-4">K-Fold Cross Validation</legend>
        <div class="form-group">
          {{form.csrf_token}}
          {{form.cVstockTicker.label}}
          {{form.cVstockTicker}}
          {{form.cVdaysToPredict.label}}
          {{form.cVdaysToPredict}}
        </div>
      </fieldset>
      <div class="form-group">
          {{ form.submit(class="btn btn-outline-info") }}
      </div>
    </form>
{% endblock content %}
