{% extends "layout.html" %}
{% block content %}
  <div class="content-section">
    <form method="POST" action="">
      <fieldset class="form-group">
        <legend class="border-bottom mb-4">Support Vector Machine</legend>
        <div class="form-group">
          {{form.csrf_token}}
          {{form.svMstockTicker.label}}
          {{form.svMstockTicker}}
          {{form.svMdaysToPredict.label}}
          {{form.svMdaysToPredict}}
        </div>
      </fieldset>
      <div class="form-group">
          {{ form.submit(class="btn btn-outline-info") }}
      </div>
    </form>
{% endblock content %}
